<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./style/style.css">
  <link rel="stylesheet" type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
  <title>FACEHOFF</title>
</head>
<body>
  <header class="container bg">
    <div class="david-img"></div>
    <div class="row header-text">
      <div class="info-text">
        <h1 data-title="FACE HOFF" class="first"><a href="#">FACE HOFF</a></h1>
        <div class="test-container"><h3>David Hasselhoff Placeholder</h3></div>
        <p>The internet was sick and tired of custom-sized placeholder images of Bill Murray. This is the new favorite tool for developers looking for freedom.</p>
        <p>Pick your size, get your link and enjoy!<br><strong>300x300:</strong> http://facehoff.herokuapp.com/200/200<br><strong>400x500:</strong> http://facehoff.herokuapp.com/400/500</p>
        <p>Created by the Silicon Baywatchers.<br>No rights reserved.</p>
      </div>
    </div>
  </header>
</body>
</html>