<!DOCTYPE html>
<html>
<head>
  <title>THE HOFF</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
</head>
<body>
<img src="../output.png">

<img src="https://rocky-shelf-4588.herokuapp.com/105/100">
<img src="https://rocky-shelf-4588.herokuapp.com/300/300">
</body>
</html>